div:hover{
  border: 2px solid brown;
}
div:first-of-type{
  background-color: aqua;;
}
div:nth-of-type(2){
  background-color: red;
}
div:nth-of-type(3){
  background-color: blueviolet;
  height: 200px;
}
div:nth-of-type(4){
  background-color: brown;
}
div:last-of-type{
  background-color: violet;
}
div:first-of-type h3{
  color: blue;
  font-style: italic;
}
div:nth-of-type(2) h3{
  color: rgb(71, 255, 102);
}
div:nth-of-type(3) h3{
  color: azure;
  font-style: italic;
}
div:nth-of-type(4) h3{
  color: aqua;
}
div:last-of-type{
  color: rgb(255, 232, 26);
  font-style: italic;
}