.super-mario {
    width: 200px;
    position: relative;
    z-index: 1;
    left: 30px;
  }
  
  .goomba {
    width: 100px;
    position: relative;
    top: 130px;
    right: 180px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    top: 20px;
    left: 40%;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute ;
    top: 60px;
    left: 42%;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute ;
    top: 200px;
    left: 70%;
  }