body{
  padding: 0;
  margin: 0;
}
h1, p{
  text-align: center;
}
.Lista{
  text-align: center;
  width: 20%;
  margin: auto;
}
.Lista li:hover{
  background-color: royalblue;
}
.Lista li:active{
  font-style: italic;
}
ul , ol{
  list-style: none;
}
ul{
  text-align: center;
}